deploy/n8n-workflows/paramant-burn-handler.json
{
  "name": "PARAMANT — Burn-on-Read Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paramant-burn",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Relay Burn Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "paramant-burn-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract and normalise burn event payload from PARAMANT relay\nconst body = $input.item.json.body || $input.item.json;\n\nconst event = {\n  hash:           body.hash       || body.blob_hash  || 'unknown',\n  sector:         body.sector     || 'unknown',\n  device_id:      body.device_id  || body.device     || 'unknown',\n  bytes:          body.bytes      || body.size        || 0,\n  timestamp:      body.ts         || new Date().toISOString(),\n  api_key_prefix: (body.api_key   || '').slice(0, 8) + '...',\n  event_type:     body.event      || (body.burned ? 'burn' : 'view'),\n};\n\n// Flag anomalies\nevent.flagged = event.bytes === 0 || event.event_type !== 'burn';\n\nconsole.log('[PARAMANT]', event.event_type, event.sector, event.hash.slice(0,16), event.bytes + 'B');\n\nreturn { json: event };"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Extract Burn Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "flagged-check",
              "leftValue": "={{ $json.flagged }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Flagged?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build structured audit log entry for anomalous burns\nconst e = $input.item.json;\nconst entry = {\n  timestamp:  e.timestamp,\n  event:      e.event_type,\n  sector:     e.sector,\n  hash:       e.hash,\n  bytes:      e.bytes,\n  device_id:  e.device_id,\n  api_key:    e.api_key_prefix,\n  flagged:    true,\n  reason:     e.bytes === 0 ? 'zero-byte blob' : 'non-burn event',\n};\n\nconsole.warn('[PARAMANT ALERT] Anomaly detected:', JSON.stringify(entry));\n\n// TODO: Connect Claude AI credential to this node for intelligent analysis\n// Add Anthropic Chat Model node and chain it here\n\nreturn { json: entry };"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Log Anomaly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "// Clean burn — log silently\nconst e = $input.item.json;\nconsole.log('[PARAMANT] clean burn:', e.sector, e.hash.slice(0,16), e.bytes + 'B', e.device_id);\nreturn { json: { ok: true, sector: e.sector, hash: e.hash } };"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Log Clean Burn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Relay Burn Webhook": {
      "main": [[{ "node": "Extract Burn Data", "type": "main", "index": 0 }]]
    },
    "Extract Burn Data": {
      "main": [[{ "node": "Flagged?", "type": "main", "index": 0 }]]
    },
    "Flagged?": {
      "main": [
        [{ "node": "Log Anomaly",    "type": "main", "index": 0 }],
        [{ "node": "Log Clean Burn", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false }
}
